*{
    margin: 20px;
    padding: 20px;
}

#content {
    width: 700px;
    height: auto;
}

#logout {
    color:#ffffff;
    float: right;
}

table {
    width:100%;
    text-align: center;;
}

table,th,td {
    border:1px solid gray;
    border-collapse: collapse;
}

th, td {
    padding:7px 15px;
}

th {
    background-color: #008040;
    color: white;
}

tr {
    background-color: #f0f0f0;
}

tr:hover {
    background-color: #ddd;
}

.error span {
    color: red;
    text-align: center;
}

.susses span {
    color: white;
}

.susses {
    float: right;
    margin-right: 300px;
}

tr th {
    text-align: center;
}
